// Colors
$softRed: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);

$darkBrown: hsl(25, 47%, 15%);
$mediumBrown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$veryPaleOrange: hsl(33, 100%, 98%);

// Font Styles
$fontSize: 18px;
$family: 'DM Sans';

$rweight: 400;
$bweight: 700;

// Block Styles
$radius: 16px;

:export {
    cream: $cream;
    softRed: $softRed;
    cyan: $cyan;
    mediumBrown: $mediumBrown;
  }